{% extends "base_template.html" %}

{% block title %}
    <title>Abc do Saber - 404</title>
{% endblock %}

{% block menu%}
{% endblock %}            

{% block titulo_pagina %}
<div class="container text-center m-4">
    <div class="display-2 mt-5">
        <h1 class="display-4">Escola ABC do Saber</h1>
    </div>
</div>
{% endblock %}

{% block corpo %}
<main class="container m-2 p-5 mx-auto my-font-family">
    <div class="card shadow p-5">
        <h1 class="display-1 text-danger">500</h1>
        <h3>Erro interno no servidor</h3>
        <p class="text-muted">Algo deu errado. Tente mais tarde.</p>
    </div>
</main>

{% endblock %}

{% block javascript_complementar %}
{% endblock javascript_complementar %}